.section-center {
    order: 1;
}

@media(min-width: 768px){
    .titulo-center {
        font-size: 2.5em;
    }

    .bajada {
        font-size: 1.2em;
    }
}

@media(min-width: 1024px){
    .section-center{
        order: 2;
        flex-basis: 60%;
        margin-top: 2em;
        margin-right: 2.5em;
        margin-left: 2.5em;
    }

    .titulo-center {
        font-size: 3em;
        font-weight: 700;
    }
}