* {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Avenir next';
  width: 100%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo {
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  margin-bottom: 0.5em;
  margin-left: 0.1em;
}

.noticia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.noticia .link-titulos {
  color: #111111;
}

.bajada {
  text-align: left;
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  font-size: 0.9em;
}

.foto {
  width: 100%;
  margin: auto;
}

.divider {
  border-bottom: 1px solid #fff;
  background-color: #dadada;
  height: 1px;
  margin: 0.8em 0.3em 1.2em;
}

#hamburguesa {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#hamburguesa a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#hamburguesa a:hover {
  color: #1d51c2;
  font-weight: bolder;
}

#hamburguesa input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#hamburguesa span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburguesa span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#hamburguesa span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#hamburguesa input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #1d51c2;
}

/*
  * But let's hide the middle one.
  */
#hamburguesa input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#hamburguesa input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 20px;
}

/*
  * And let's slide it in from the left
  */
#hamburguesa input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: 10px 10px 27px -5px rgba(0, 0, 0, 0.88);
  box-shadow: 10px 10px 27px -5px rgba(0, 0, 0, 0.88);
}

.main-header {
  line-height: 2;
  background: #011827 url("../img/header.png");
  color: #fff;
  text-align: center;
  padding-top: 1em;
  margin-bottom: 2em;
}

.main-header .logo {
  width: 8em;
}

.nav-desktop {
  line-height: 5;
  text-align: center;
}

.nav-container {
  display: none;
}

.nav-container_item {
  line-height: 2.5;
  border-bottom: 1px solid var(--color-white);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-container_item:hover {
  background-color: #1d51c2;
}

.nav-container_link {
  color: #fff;
  display: block;
}

@media (min-width: 1024px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container_item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.4em;
}

@media (min-width: 768px) {
  .titulo {
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .titulo {
    font-size: 1.7em;
    font-weight: 700;
  }
}

.section-left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1024px) {
  .section-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-top: 2.5em;
  }
}

.section-center {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .titulo-center {
    font-size: 2.5em;
  }
  .bajada {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .section-center {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-top: 2em;
    margin-right: 2.5em;
    margin-left: 2.5em;
  }
  .titulo-center {
    font-size: 3em;
    font-weight: 700;
  }
}

.section-right {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 1024px) {
  .section-right {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-top: 2.5em;
  }
}

.main-footer {
  line-height: 2;
  background-color: #023859;
  color: #fff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: auto;
  font-size: 0.8em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
}

.main-footer .logo {
  width: 8em;
}

.main-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer .social a {
  display: block;
  width: 60px;
  height: 60px;
  background: #000000;
  color: #ffffff;
  margin: 20px;
  text-align: center;
  border-radius: 100px;
  -webkit-transform: .3s ease all;
          transform: .3s ease all;
}

.main-footer .social a i {
  font-size: 20px;
  line-height: 60px;
}

.main-footer .social .twitter {
  background: #1da1f2;
}

.main-footer .social .instagram {
  background: #c13584;
}

.main-footer .social .facebook {
  background: #3b5998;
}

.main-footer .social .youtube {
  background-color: red;
}

.main-footer .contenedor-icono:hover a {
  -webkit-animation: icono .5s ease;
          animation: icono .5s ease;
}

@-webkit-keyframes icono {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 0.5, 0, 180deg);
            transform: rotate3d(0, 0.5, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes icono {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 0.5, 0, 180deg);
            transform: rotate3d(0, 0.5, 0, 180deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}
/*# sourceMappingURL=estilos.css.map */